{
    "ARTIFACTS": {
        "BASE_PATH":"./artifacts/{}",
        "EXECUTABLE_PATH":"BASE_PATH/executables/",
        "DIFF_FILES_PATH":"BASE_PATH/diff_files/",
        "LOG_JOURNALD_SERVICE":"TRUE"
    },
    "SYSLOGSERVER":{
        "HOST": "1.1.1.1",
        "PORT": 514
    }
}
